body{
    background-color: #222831;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.nav-bar-custom{
    text-align: center;
    width: 100%;
    background-color: #d65a31;
    overflow: hidden;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 100px;
    font-size: 40px;
}

nav a:hover{
    color: #393e46;
    background-color: #eeeeee;
}

.banner-image{
    margin: auto;
    width: 100%;
}