body{
    background-color: #222831;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.nav-bar-custom{
    text-align: center;
    width: 100%;
    background-color: #d65a31;
    overflow: hidden;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 100px;
    font-size: 40px;
}

nav a:hover{
    color: #393e46;
    background-color: #eeeeee;
}

.banner{
    position: relative;
}

.banner-image{
    margin: auto;
    width: 100%;
}

.banner-twitter{
    position: absolute;
    background-color: white;
    width: 40%;
    bottom: 4px;
    color: black;
    font-size: 50px;
    text-align: center;
    line-height: 25vh;
    vertical-align: middle;
    left: -800px;
}

.show-banner-twitter{
    left: 0px;
    transition: all 0.4s;
}

.copy{
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.abstract-info{
    text-align: justify;
    color: white;
    font-size: 30px;
    text-indent: 20px;
    width: 70%;
    min-height: 1200px;
}

.main-container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*.banner-twitter:hover{
    left: 0px;
    transition-delay: all 0.4s;
}*/

/*https://colorhunt.co/palette/144399*/